Package: asterisk-chan-modemmanager-dbgsym
Package-Type: ddeb
Source: asterisk-chan-modemmanager
Version: 1.0.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Yoonji Park <koreapyj@dcmys.kr>
Installed-Size: 156
Depends: asterisk-chan-modemmanager (= 1.0.0)
Section: debug
Priority: optional
Description: debug symbols for asterisk-chan-modemmanager
Build-Ids: d17534d5800ae1ebefd2bc193ff5bb3c0de0b11e
